.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/46466-medical-wallpaperdownload-free-cool-hd-background2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 885px;
}

.u-section-1 .u-group-1 {
  width: 855px;
  min-height: 448px;
  margin: 437px 285px 2px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  margin: 35px 315px 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 15px 359px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 244px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 818px;
}

.u-section-2 .u-group-1 {
  width: 779px;
  min-height: 181px;
  margin: 80px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 172px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 161px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 184px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 35px auto 0 22px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: -29px 15px 0 102px;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: -102px 11px 76px 106px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 640px;
  height: 563px;
  margin: -27px auto -54px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-group-1 {
    width: 642px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 534px;
  }

  .u-section-2 .u-image-1 {
    width: 510px;
    height: 532px;
    margin-top: 4px;
    margin-bottom: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 22px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 400px;
    height: 414px;
    margin-top: 44px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-group-1 {
    width: 542px;
    min-height: 238px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 35px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-2 .u-image-1 {
    width: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-2 .u-group-1 {
    min-height: 288px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 10px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-2 .u-image-1 {
    width: 390px;
    height: 470px;
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 314px;
}

.u-section-3 .u-group-1 {
  width: 700px;
  min-height: 163px;
  margin: 57px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3 .u-group-1 {
    width: 577px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-group-1 {
    width: 442px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-group-1 {
    width: 414px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 503px;
}

.u-section-4 .u-text-1 {
  margin: 8px 40px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 9px auto 58px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 438px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    text-transform: none;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 131px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 599px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 157px;
  margin: 47px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 15px;
}

.u-section-5 .u-form-1 {
  height: 318px;
  width: 737px;
  margin: 20px auto 60px;
}

.u-section-5 .u-form-group-4 {
  text-align: center;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-form-1 {
    width: 608px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 338px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-form-1 {
    width: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 283px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}